.container {
    margin-top: 100px;
}

.segundo_lugar img, .terceiro_lugar img{
    width: 150px;
}

.primeiro_lugar img {
    width: 300px;
}

.segundo_lugar p, .terceiro_lugar p, .primeiro_lugar p {
    margin-top: 10px;
}

.segundo_lugar, .terceiro_lugar {
    padding-top: 150px;
}

table#tbl-ranking {
    margin-top: 50px;
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    
}

.swal2-title {
    font-size: 1.5em!important;
}

#creditos {
    margin-top: 200px;
    font-size: 0.5em;
}